<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="profile-pic">
      <img *ngIf="userData.profile_pic; else defaultProfilePic" [src]="userData.profile_pic" alt="User Photo">
      <ng-template #defaultProfilePic>
        <img src="https://th.bing.com/th/id/OIP.x7X2oAehk5M9IvGwO_K0PgHaHa?rs=1&pid=ImgDetMain"
          alt="Default User Photo">
      </ng-template>
    </div>
    <mat-card-title-group class="profile-name">
      <mat-card-title>{{ userData.first_name }} {{ userData.last_name }}</mat-card-title>
    </mat-card-title-group>
  </mat-card-header>
  <mat-dialog-content>
    <mat-form-field class="example-full-width">
      <mat-label>Write your caption</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..." [(ngModel)]="caption"  required></textarea>
    </mat-form-field>
    <mat-error *ngIf="!caption && (pictureUploaded || option === 'Article')">Caption is required</mat-error>

    <!-- <div *ngIf="showFileUploadSection()">
      <div class="Upload-img">
        <input type="file" (change)="onFileChange($event)" accept="{{ option === 'photo' ? 'image/*' : 'video/*' }}" style="display: none" #fileInput />
        <button class="upload-button" *ngIf="!pictureUploaded && isFileUploadOption()" mat-raised-button color="primary" (click)="fileInput.click()">Upload {{ option === 'photo' ? 'Image' : 'Video' }}</button>
        <div *ngIf="pictureUploaded" class="upload-photo-ratio">
          <img *ngIf="option === 'photo'" [src]="getObjectURL(selectedFile)" alt="Selected Photo" class="selected-photo" />
          <video *ngIf="option === 'video'" [src]="getObjectURL(selectedFile)" controls class="selected-video"></video>

        </div>
      </div>
    </div> -->
    <div *ngIf="showFileUploadSection()">
      <div class="Upload-img">
        <input type="file" (change)="onFileChange($event)" accept="{{ getAcceptFileType() }}" style="display: none" #fileInput />
        <button class="upload-button" *ngIf="!pictureUploaded && isFileUploadOption()" mat-raised-button color="primary" (click)="fileInput.click()">Upload {{ getUploadOptionText() }}</button>
        <div *ngIf="pictureUploaded" class="upload-photo-ratio">
          <img *ngIf="option === 'photo'" [src]="getObjectURL(selectedFile)" alt="Selected Photo" class="selected-photo" />
          <video *ngIf="option === 'video'" [src]="getObjectURL(selectedFile)" controls class="selected-video" class="video-upload"></video>
          <audio *ngIf="option === 'audio'" [src]="getObjectURL(selectedFile)" controls class="selected-audio"></audio>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button (click)="createPost()" cdkFocusInitial [disabled]="!shouldEnablePostButton()">Post</button>
  </mat-dialog-actions>
</mat-card>