
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Launch static backdrop modal from <h1></h1>
  </button>
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Launch signup
  </button> -->
<app-login  (launchLogin)="launchLoginModal()"  (switchToSignupClicked)="toggleSignupModal(true)"  [showModal]="loginModalVisible" ></app-login>
<!-- <router-outlet></router-outlet> -->
<app-registration [showModal]="signupModalVisible"  (switchToLoginClicked)="toggleLoginModal(true)"></app-registration>
