
<header class=" relative shadow-lg px-3 py-2">
    <div class="header">
		<div class="container">
			<h2 class="logo"><a href="#">Logo</a></h2>
			<a id="menu-icon">&#9776;</a>
			<nav class="navbar">
				<ul class="menu">
					<li><a class="active" href="#">Home</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Work</a></li>
					<li><a href="#">Contact</a></li>
                    <button class="login-btn" (click)="openLoginModal()">Login</button>
				</ul>
			</nav>

		</div>
	</div>
  </header>
  
